@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Create Your Own Sushi Roll</h1>
        <h2 class="mainSubTitle"> Customize or order one of the specials </h2>
    </div>
    <div>
        <img class="mainImage" src ="~/images/Sushi/Create.jpg" />
    </div>
    
    <br/>
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Sushi">Let's get Rollin'</a>
</div>
